// global.scss 全局样式文件
@import './variate.scss'; // 引入样式文件

/* 样式初始化 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
dt,
dd,
dl {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

/* 项目正式代码 */
body {
    background-color: #fff;
}

.bg_color {
    background-color: $mainColor;
}